img {
    width: 100%;
}


.header {
    text-align: center;
}

#addPixar {
    margin: 10px;
}

#pixarView,
#buttonView,
.pixar-form {
    text-align: center;
}

.pixar,
div,
form,
input {
      margin: 2px;
}


